<%- include('_partials/_head')%>
<%- include('_partials/_nav')%>

<div style="margin: 160px 10px">
  <% if(typeof(sess) != "undefined" ){ %>
       <!--  <p> <%= sess.username %>  </p> -->
      <!--    <p> <%= sess.password %>   </p> -->
     <!--     <p> <%= sess.name %>   </p> -->
     <!--     <p> <%= sess.address %>   </p> -->
     <!--     <p> <%= sess.city %>   </p> -->
     <!--     <p> <%= sess.state %>  </p> -->
     <!--     <p> <%= sess.zip  %>  </p> -->
      <!--    <p> <%= sess.gender  %> </p> -->
      <!--    <p> <%= sess.consent %>  </p> -->
      <!--    <p> <%= sess.age %>  </p> -->
      <!--    <p> <%= sess.bio  %> </p> -->

      <h1> This is the profile page </h1>
            <%}%>
<div>

<%- include('_partials/_footer') %>